<div class="div-heading">
  <div style="float: left;width: 50%;">
  <h3 >List of Employees </h3>
</div>
<div style="float: right;width: 50%;">
  <button style="width: 50%;" (click)="showAddData()" type="button" class="btn">Add New Employee</button>
  </div>
</div>
<div class="table-data">

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Designation</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.name}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.designation}}</td>
        <td>
         <a (click)="deleteEmployee(employee)"> <i class="icon-trash"></i> </a>
        </td>
      </tr>
   
    </tbody>
  </table>
  <div *ngIf="showAdd">
    <app-add (newItemEvent)="addItem($event)"></app-add>
  </div>
</div>

