<div class="home">
    <h2>Angular Assessment - MsTech</h2>
</div>
<div class="home">
    <h4>By Shreyansi Hathi</h4>
</div>


<div class="home">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Demo - Material Card</mat-card-title>
      <mat-card-subtitle>made using Angular Material</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officiis magnam nulla perspiciatis laboriosam, 
     cum nisi veritatis at voluptatum soluta distinctio accusantium maxime ut dicta omnis non totam impedit debitis!
      </p>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>
  </div>
  